.mew2{background-color: #e0efc6;}
.display-4 fw-bold text-body-emphasis{font-style: italic;}
.mew3  img{border-radius: 50%;}
body{background-color: #f0c0b8}
.btn{color: rgb(252, 250, 251);}
h1{font-family: "Sacramento",cursive;}
h1{text-align: center;
   justify-content: center;}
.overflow-hidden{border-radius: 50%;
margin: 0%;
padding: 0%;}
#mew2  h1{margin-left: 0%;}
button{background-color: blanchedalmond;}